body{
	background-color: black;
}

#wrapper{
	width: 750px; <!--> allows this margin to set to zero and the sides to auto (both sides of the page
		to be equal) <-->
	margin: 0 auto;
	background-color: white;
}
#header{
	height: 50px;
	text-align: center;
}

#leftbody{
	height: 500px;
	width: 190px;
	float: left;
	background-color: yellow;
}

#rightbody{
	height: 500px;
	width: 500px;
	float: right;
	background-color: red;
}

#bottom{
	height: 40px;
	clear: both;
	text-align: center;
}
