#wrapper{
width: 100%;
height: 1000px;
margin: 0 auto;
}

#header{
position: absolute;
width: 100%;
height: 200px;
left: 9px;
right: 16px;
background-color:#88bdbc;
margin: 0 auto;
border: cornsilk 5px solid;
}

#Meme1{
position: absolute;
left: 12px;
width:150px;
height: 150px;
margin: 10px 10px 0px 0px;
padding: 10px 10px 10px 10px;
 }

#Meme2{
position: absolute;
right: 6px;
width: 150px;
height: 150px;
margin: 10px 10px 0px 0px;
padding: 10px 10px 10px 10px;
float: right;
}

#title{
position: absolute;
top: 40px;
left: 350px;
color:cornsilk;
font-family: "Tahoma",serif;
font-size: 75px;
text-transform: uppercase;
text-align: center;
margin: 0 auto;
}

#motto{
position: absolute;
top: 125px;
left: 425px;
color: cornsilk;
font-family: "Tahoma", serif;
font-size: 30px;
text-align: center;
margin: 0 auto;
}

body{
  background-color: #88bdbc;
margin: 0 auto;
}

/* Overflow-x was learnt through https://www.w3schools.com/cssref/css3_pr_overflow-x.asp */
.leftside{
position: absolute;
width:200px;
top: 300px;
left: 8px;
background:#88bdbc;
overflow-x: hidden;
padding: 10px 0;
border: cornsilk 5px solid;
}

.left a{
padding: 40px 10px 50px 10px;
text-decoration: none;
font-size: 20px;
font-weight: bold;
color: cornsilk;
display: block;
text-align: center;
}

/* Hover selector was learnt through http://www.w3schools.com/cssref/sel_hover.asp*/
.left a:hover{
background-color: #88bdbc;}

#Facebook{
width: 30px;
height: 30px;
padding: 15px;
}

#Instagram{
width: 30px;
height: 30px;
padding: 15px;
}

#Twitter{
width: 30px;
height: 30px;
padding: 15px;
}

.Media{
float: left;
display: inline;
margin: auto 0;
padding: 100px 8px 8px 10px;
}

#prompt1{
position: absolute;
top: 225px;
bottom: 200px;
left: 10px;
color: cornsilk;
font-size: 25px;
font-family: arial;
}

h2{
font-size:35px;
color: cornsilk;
font-family: arial;
text-align: center;
}

#content{
position: absolute;
top: 280px;
bottom: 200px;
left: 300px;
right: 15px;
text-align: left;
}

#must{
color: cornsilk;
font-weight: bold;
font-family: cursive;
}



#reddit{
color: cornsilk;
font-weight: bold;
font-family: arial;
}

#emotes{
font-size: 12px;
text-align: center;
}


#monkas{
position: absolute;
top: 200px;
left: 330px;
right: 15px;
padding: 10px 10px 10px 10px;
text-align: left;
}

#monkas1{
position: absolute;
top: 260px;
text-align: center;
font-size: 15px;
width: 200px;
height: 200px;
}

#monkas2{
position: absolute;
top: 340px;
left: 30px;
width: 160px;
height: 160px;
}

#monkas3{
position: absolute;
top: 490px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;
}

#monkas4{
position: absolute;
top: 700px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;
}

#omegalul{
position: absolute;
top: 200px;
left: 650px;
right: 10px;
padding: 10px 10px 10px 10px;
text-align: left;
}

#omegalul1{
position: absolute;
top: 260px;
text-align: center;
font-size: 15px;
width: 200px;
height: 200px;
}

#omegalul2{
position: absolute;
top: 340px;
left: 30px;
width: 160px;
height: 160px;

}

#omegalul3{
position: absolute;
top: 490px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;
}

#omegalul4{
  position: absolute;
  top: 700px;
  left: 25px;
  width: 200px;
  height: 200px;
  text-align: left;
  font-family: arial;
}

#pepehands{
position: absolute;
top: 200px;
left: 1000px;
right: 15px;
}

#pepehands1{
  position: absolute;
  top:260px;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 200px;
}

#pepehands2{
  position: absolute;
  top: 340px;
  left: 30px;
  width: 160px;
  height: 160px;
}

#pepehands3{
  position: absolute;
  top: 490px;
  left: 30px;
  width: 200px;
  height: 200px;
  text-align: left;
  font-family: arial;

}

#pepehands4{
  position: absolute;
  top: 700px;
  left: 25px;
  width: 200px;
  height: 200px;
  text-align: left;
  font-family: arial;
}

#head{
position: absolute;
top: 525px;
left: 300px;
right: 10px;
padding: 10px 10px 10px 10px;
text-align: left;
}

#head1{
position: absolute;
top: 480px;
text-align: center;
font-size: 15px;
width: 200px;
height: 200px;
}

#head2{
position: absolute;
top: 525px;
left: 35px;
width: 160px;
height: 160px;
}

#head3{
position:absolute;
top:680px;
left:20px;
width:200px;
height:200px;
text-align: left;
font-family: arial;
}


#head4{
position:absolute;
top: 950px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;
}


#kekw{
position: absolute;
top: 735px;
left: 1000px;
right: 15px;
padding: 10px 10px 10px 10px;
text-align: left;
}

#kekw1{
position: absolute;
top: 280px;
text-align: center;
font-size: 15px;
width: 200px;
height: 200px;
}

#kekw2{
position: absolute;
top: 310px;
left: 25px;
width: 160px;
height: 160px;

}

#kekw3{
position: absolute;
top: 480px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;
}

#kekw4{
position: absolute;
top: 740px;
left: 25px;
width: 200px;
height: 200px;
text-align: left;
font-family: arial;

}
#link{
  position: absolute;
  top: 1700px;
  left: 300px;
  color: cornsilk;
}
.TOS{
position: absolute;
top: 1800px;
text-align: center;
font-family: arial;
font-size: 13px;
border: cornsilk 5px solid;
}
